// SCSS for common, reused styling.

.pre-loader {
  position: absolute;
  background: $color-white;
  border-radius: 6px;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  width: 100vw;
  height: calc(100vh - 58px);
  top: 58px;
  left: 0;
  z-index: 10;
  p {
    font-size: 1em;
    margin: 20px 0 0 0;
  }
}


.introduction-banner {
  min-height: 300px;
  background: $color-steel;
  color: $color-white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &.left {
    text-align: left;
  }
}