// Reused colors, padding, margs etc are here.


$title-bg: #858585;
$title-bg-error: #d78b8b;
$title-bg-succ: #8cd78b;


// Main 
$brand-cream: #f0f7ee;
$brand-green: #3fc58d;
$brand-dark: #3d3a4b;
$brand-yellow: #ffba08;
$brand-blue: #3f88c5;

$color-white: #fff;
$color-grey: #f1f1f1;
