// Reused colors, padding, margs etc are here.


$title-bg: #858585;
$title-bg-error: #d78b8b;
$title-bg-succ: #8cd78b;


// Main 
$brand-cream: #f0f7ee;
$brand-green: #3fc575;
$brand-dark: #3d3a4b;
$brand-yellow: #ffba08;
$brand-blue: #3f88c5;
$brand-blue-dark: #243256;

$color-white: #fff;
$color-grey: #f1f1f1;
$color-steel: #565b66;
$color-light-blue: #3f96d5;